extends layout

block content
    h1 #{title}: #{bookinstance.name}
    p= bookinstance.lifespan


    p Do you really want to delete this Author?

        form(method='POST' action='')
            div.form-group
                input#authorid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

            button.btn.btn-primary(type='submit') Delete
